@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  --font-size: 1.7rem;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

input,
button {
  font-size: var(--font-size);
  outline: 0;
}
/* font */
@font-face {
  font-family: 'Parisienne';
  src: url('./assets/fonts/Parisienne-Regular.ttf');
}

@font-face {
  font-family: 'Fira';
  src: url('./assets/fonts/FiraSans-Bold.ttf');
}

@font-face {
  font-family: 'Josefin';
  src: url('./assets/fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}